@model IEnumerable<TransportBrunaWeb.Models.TransportationLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CargoTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Containers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costs.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CargoTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Containers.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costs.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicles.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransportationLogID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransportationLogID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransportationLogID }) |
                @Html.ActionLink("CloseLog", "CloseLog", new { idLog = item.TransportationLogID })
            </td>
        </tr>

    }

</table>