<!-- model IEnumerable<TransportBrunaWeb.Models.TransportationLog> -->

@model PagedList.IPagedList<TransportBrunaWeb.Models.TransportationLog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Seznam voženj</h2>

<ul class="nav nav-pills navbar-left">
    <li>@Html.ActionLink("Dodaj vožnjo", "Create")</li>
    <li>@Html.ActionLink("Seznam gospodinjstev", "Index", "HouseholdTransportation")</li>
    <li>@Html.ActionLink("Seznam stroškov voženj", "Index", "DrivingCosts")</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Izvozi v CSV <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Vse vožnje", "ExportToCSVall")</li>
            <li>@Html.ActionLink("Vse aktivne", "ExportToCSVactive")</li>
            <li>@Html.ActionLink("Vse zaključene", "ExportToCSVnonActive")</li>
        </ul>
    </li>

    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Admin <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Dodaj tip tovora", "Create", "CargoTypes")</li>
                <li>@Html.ActionLink("Dodaj tip stroška", "Create", "CostTypes")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Pregled vseh stroškov", "Index", "Costs")</li>
            </ul>
        </li>
    }
</ul>
<form class="navbar-form navbar-right">
    <div class="form-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", @placeholder = "Iskanje" })
    </div>
    <button type="submit" class="btn btn-default" value="Search"><span class="glyphicon glyphicon-search"></span></button>
</form>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.ActionLink("Datum", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Lokacija", "Index", new { sortOrder = ViewBag.LocationSortParm }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Stranka", "Index", new { sortOrder = ViewBag.CustomerSortParm }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Tip tovora", "Index", new { sortOrder = ViewBag.CargoTypeSortParm }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Vozilo", "Index", new { sortOrder = ViewBag.VehicleSortParm }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Keson", "Index", new { sortOrder = ViewBag.ConstainerSortParm }, new { @style = "color:#666666;" })
        </th>
        <th>
            Opomba
        </th>
        <th>
            @Html.ActionLink("Aktivna?", "Index", new { sortOrder = ViewBag.ActiveSortParm }, new { @style = "color:#666666;" })
        </th>
        <!--
        if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
        {
            <th>
                Description
            </th>
            <th>
                Date Created
            </th>
            <th>
                Date Modified
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                ModifiedBy
            </th>
        }-->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @{
                    string name = item.Customers.CompanyID != null ? item.Customers.Company.FullName : item.Customers.PrivateCustomer.FullName;
                }
                @Html.DisplayFor(modelItem => name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicles.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Containers.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <!--
                    if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                    }
                    -->
            <td>
                <a href="@Url.Action("Edit", "TransportationLog", new { id=item.TransportationLogID })">
                    <span title="Uredi" class="glyphicon glyphicon-pencil" />
                </a>&nbsp;|
                <a href="@Url.Action("Details", "TransportationLog", new { id=item.TransportationLogID })">
                    <span title="Podrobnosti" class="glyphicon glyphicon-option-vertical" />
                </a>&nbsp;|
                <a href="@Url.Action("Delete", "TransportationLog", new { id=item.TransportationLogID })">
                    <span title="Izbriši" class="glyphicon glyphicon-trash" />
                </a>

                @if (item.Active)
                {
                    <span>|</span>
                    <a href="@Url.Action("CloseLog", "TransportationLog", new { idLog=item.TransportationLogID })">
                        <span title="Končaj vožnjo" class="glyphicon glyphicon-ok" />
                    </a>
                }

            </td>
        </tr>

    }

</table>

<!--Pagination-->
<br />
        Stran @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
