@model TransportBrunaWeb.Models.Containers

@{
    ViewBag.Title = "Podrobnosti";
}

<h2>Podrobnosti kesona/košare</h2>
<ul class="nav nav-pills">
    <li>@Html.ActionLink("Uredi keson/košaro", "Edit", new { id = Model.ContainerID })</li>
</ul>

<hr class="hrrr" />

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="2">Podrobnosti</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Podjetje</th>
                <td>@Html.DisplayFor(model => model.Company.FullName)</td>
            </tr>
            <tr>
                <th scope="col">Tip kesona/košare</th>
                <td>@Html.DisplayFor(model => model.ContainerTypes.Name)</td>
            </tr>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Label)</th>
                <td>@Html.DisplayFor(model => model.Label)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Volume)</th>
                <td>@Html.DisplayFor(model => model.Volume)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Note)</th>
                <td>@Html.DisplayFor(model => model.Note)</td>
            </tr>

            @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
            {
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DateCreated)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateModified)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DateModified)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Nazaj na seznam", "Index", "Vehicles")

</p>
