@model TransportBrunaWeb.Models.Vehicles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gvw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gvw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MassCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MassCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add Cost", "Create", "Costs", new { VehicleID = Model.VehicleID }, null)
</p>
