@model TransportBrunaWeb.Models.Vehicles

@{
    ViewBag.Title = "Podrobnosti";
}

<h2>Podrobnosti vozila</h2>
<ul class="nav nav-pills">
    <li>@Html.ActionLink("Uredi vozilo", "Edit", new { id = Model.VehicleID })</li>
    <li>@Html.ActionLink("Dodaj strošek", "Create", "Costs", new { TransportationLogID = Model.VehicleID }, null) </li>
</ul>
<hr class="hrrr" />
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="2">Podrobnosti</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Podjetje</th>
                <td>@Html.DisplayFor(model => model.Company.FullName)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.RegPlate)</th>
                <td>@Html.DisplayFor(model => model.RegPlate)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Brand)</th>
                <td>@Html.DisplayFor(model => model.Brand)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Type)</th>
                <td>@Html.DisplayFor(model => model.Type)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Vin)</th>
                <td>@Html.DisplayFor(model => model.Vin)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Gvw)</th>
                <td>@Html.DisplayFor(model => model.Gvw)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.MassCargo)</th>
                <td>@Html.DisplayFor(model => model.MassCargo)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.DateReg)</th>
                <td>@Html.DisplayFor(model => model.DateReg)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.DateMot)</th>
                <td>@Html.DisplayFor(model => model.DateMot)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Note)</th>
                <td>@Html.DisplayFor(model => model.Note)</td>
            </tr>

            @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
            {
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DateCreated)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateModified)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DateModified)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />


<div>
    <h3>Stroški vozila</h3>
    <!-- Tole je dodano da izpiše tabelo stroškov za določen ID vozila -->
    <table class="table">
        <tr>
            <th>
                Datum
            </th>
            <th>
                Tip stroška
            </th>
            <th>
                Znesek
            </th>
            <th>
                Opomba
            </th>

        </tr>

        @foreach (var item in (IEnumerable<TransportBrunaWeb.Models.VehicleCosts>)ViewBag.VCosts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Costs.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costs.CostTypes.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costs.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costs.Note)
                </td>
            </tr>
        }
    </table>


</div>
<p>
    @Html.ActionLink("Nazaj na seznam", "Index")
</p>
