@model TransportBrunaWeb.Models.Customers

@{
    ViewBag.Title = "Izbriši";
}

<h2>Izbriši</h2>

<h3 style="display:inline">Ali res želite izbrisati to</h3>
@if (Model.CompanyID != null)
{
    <h3 style="display:inline">&nbsp;podjetje?</h3>
}
else
{
    <h3 style="display:inline">&nbsp;fizično osebo?</h3>
}
    <div>
        <hr />
        <dl class="dl-horizontal">

            @if (Model.CompanyID != null)
            {
                <dt>
                    Naziv
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.FullName)
                </dd>

                <dt>
                    Naslov
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Address)
                </dd>

                <dt>
                    Telefon
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Phone)
                </dd>

                <dt>
                    E-pošta
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Email)
                </dd>

                <dt>
                    Davčna številka
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Vat)
                </dd>

                <dt>
                    Opomba
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Note)
                </dd>
            }
            else
            {
                <dt>
                    Naziv
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.FullName)
                </dd>

                <dt>
                    Naslov
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.Address)
                </dd>

                <dt>
                    Telefon
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.Phone)
                </dd>

                <dt>
                    E-pošta
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.Email)
                </dd>

                <dt>
                    Davčna številka
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.Vat)
                </dd>

                <dt>
                    Opomba
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrivateCustomer.Note)
                </dd>
            }
            @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateModified)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateModified)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
            }
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Izbriši" class="btn btn-danger" /> &nbsp;

                @Html.ActionLink("Prekliči", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
