@*model IEnumerable<TransportBrunaWeb.Models.Customers>*@
@model PagedList.IPagedList<TransportBrunaWeb.Models.CustomerSpecial>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Seznam strank</h2>

<ul class="nav nav-pills navbar-left">
    <li>@Html.ActionLink("Dodaj podjetje", "Create", "Company")</li>
    <li>@Html.ActionLink("Dodaj fizično osebo", "Create", "PrivateCustomers")</li>
</ul>
<form class="navbar-form navbar-right">
    <div class="form-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", @placeholder = "Iskanje" })
    </div>
    <button type="submit" class="btn btn-default" value="Search"><span class="glyphicon glyphicon-search"></span></button>
</form>

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.FullnameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#666666;" })
        </th>
        <th>
            @Html.ActionLink("Naslov", "Index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#666666;" })
        </th>
        <th>
            Telefon
        </th>
        <th>
            E-naslov
        </th>
        <th>
            @Html.ActionLink("Davčna številka", "Index", new { sortOrder = ViewBag.VatSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#666666;" })
        </th>
        <th>
            Opomba
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @if (item.CompanyID != null)
                {
                    <html>
                    <a href="@Url.Action("Edit", "Company", new { id=item.CompanyID })">
                        <span title="Uredi" class="glyphicon glyphicon-pencil" />
                    </a>&nbsp;|

                    <a href="@Url.Action("Details", "Company", new { id = item.CompanyID })">
                        <span title="Podrobnosti" class="glyphicon glyphicon-option-vertical" />
                    </a>&nbsp;|
                </html>
            }
            else
            {
                <html>
                <a href="@Url.Action("Edit", "PrivateCustomers", new { id=item.PrivateCustomerID })">
                    <span title="Uredi" class="glyphicon glyphicon-pencil" />
                </a>&nbsp;|

                <a href="@Url.Action("Details", "PrivateCustomers", new { id = item.PrivateCustomerID })">
                    <span title="Podrobnosti" class="glyphicon glyphicon-option-vertical" />
                </a>&nbsp;|
            </html>
        }
                <a href="@Url.Action("Delete", "Customers", new { id=item.CustomerID })">
                    <span title="Izbriši" class="glyphicon glyphicon-trash" />
                </a>
            </td>
        </tr>
    }

</table>

<!--Pagination-->
<br />
    Stran @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))