<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Transport Bruna Web Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
       
    </style>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Transport Bruna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Domov", "Index", "Home", null, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("O nas", "About", "Home", null, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("Storitve", "Services", "Home", null, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("Galerija", "Gallery", "Home", null, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "navbar-link" })</li>
                    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superadmin"))
                    {

                        <li>@Html.ActionLink("Vožnje", "Index", "TransportationLog", null, new { @class = "navbar-link" })</li>
                        <li>@Html.ActionLink("Vozni park", "Administration", "Home", null, new { @class = "navbar-link" })</li>
                        <li>@Html.ActionLink("Stranke", "Administration", "Home", null, new { @class = "navbar-link" })</li>
                        <li>@Html.ActionLink("Administracija", "Administration", "Home", null, new { @class = "navbar-link" })</li>
                    }
                    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Superuser"))
                    {

                        <li>@Html.ActionLink("Vožnje", "Index", "TransportationLog", null, new { @class = "navbar-link" })</li>
                        <li>@Html.ActionLink("Vozni park", "Administration", "Home", null, new { @class = "navbar-link" })</li>
                        <li>@Html.ActionLink("Stranke", "Administration", "Home", null, new { @class = "navbar-link" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Original footer
        <footer>
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year - Transport Bruna Web Application</p>
            </div>
        </footer>
    -->
        <!-- footer -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row ">
                    <!-- footer-about -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Company</div>
                            <ul class="list-unstyled">
                                <li><a href="#">O nas</a></li>
                                <li><a href="#">Storitve</a></li>
                                <li><a href="#">Galerija</a></li>
                                <li><a href="#">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-about -->
                    <!-- footer-links -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Quick Links</div>
                            <ul class="list-unstyled">
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-links -->
                    <!-- footer-links -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Social</div>
                            <ul class="list-unstyled">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google +</a></li>
                                <li><a href="#">Linked In</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-links -->
                    <!-- footer-links -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <h3 class="footer-title">Subscribe Newsletter</h3>
                            <form>
                                <div class="newsletter-form">
                                    <input class="form-control" placeholder="Enter Your Email address" type="text">
                                    <button class="btn btn-default btn-sm" type="submit">Go</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.footer-links -->
                    <!-- tiny-footer -->
                </div>
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                        <div class="tiny-footer">
                            <p>&copy; @DateTime.Now.Year - Transport Bruna d.o.o.</p>
                        </div>
                    </div>
                    <!-- /. tiny-footer -->
                </div>
            </div>
        </div>
        <!-- /.footer -->

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
