@{
    ViewBag.Title = "Administration";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink("Vehicles", "Index", "Vehicles")
        </dt>
        <dd>
            Index of Vehicles
        </dd>
        <dt>
            @Html.ActionLink("Costs", "Index", "Costs")
        </dt>
        <dd>
            Index of Costs
        </dd>
        <dt>
            @Html.ActionLink("VehicleCosts", "Index", "VehicleCosts")
        </dt>
        <dd>
            Index of Vehicle Costs
        </dd>
        <dt>
            @Html.ActionLink("DrivingCosts", "Index", "DrivingCosts")
        </dt>
        <dd>
            Index of Driving Costs
        </dd>
        <dt>
            @Html.ActionLink("TransportationLog", "Index", "TransportationLog")
        </dt>
        <dd>
            Index of Transporation Log
        </dd>
        <dt>
            @Html.ActionLink("HouseholdTransportation", "Index", "HouseholdTransportation")
        </dt>
        <dd>
            Index of Household Transportation
        </dd>
        <dt>
            @Html.ActionLink("Customers", "Index", "Customers")
        </dt>
        <dd>
            Index of Customers
        </dd>
    </dl>
</div>
