@{
    ViewBag.Title = "Administracija";
}
<h2>@ViewBag.Title</h2>

<div>
    <h4>All Views</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink("ContainerTypes", "Index", "ContainerTypes")
        </dt>
        <dd>
            Index of Container Types
        </dd>
        <dt>
            @Html.ActionLink("Containers", "Index", "Containers")
        </dt>
        <dd>
            Index of Containers
        </dd>
        <dt>
            @Html.ActionLink("Vehicles", "Index", "Vehicles")
        </dt>
        <dd>
            Index of Vehicles
        </dd>
        <dt>
            @Html.ActionLink("VehicleCosts", "Index", "VehicleCosts")
        </dt>
        <dd>
            Index of Vehicle Costs
        </dd>
        <dt>
            @Html.ActionLink("Costs", "Index", "Costs")
        </dt>
        <dd>
            Index of Costs
        </dd>
        <dt>
            @Html.ActionLink("CostTypes", "Index", "CostTypes")
        </dt>
        <dd>
            Index of Cost Types
        </dd>
        <dt>
            @Html.ActionLink("DrivingCosts", "Index", "DrivingCosts")
        </dt>
        <dd>
            Index of Driving Costs
        </dd>
        <dt>
            @Html.ActionLink("TransportationLog", "Index", "TransportationLog")
        </dt>
        <dd>
            Index of Transporation Log
        </dd>
        <dt>
            @Html.ActionLink("HouseholdTransportation", "Index", "HouseholdTransportation")
        </dt>
        <dd>
            Index of Household Transportation
        </dd>
        <dt>
            @Html.ActionLink("TransportationStatus", "Index", "TransportationStatus")
        </dt>
        <dd>
            Index of Transportation Status
        </dd>
        <dt>
            @Html.ActionLink("TransportationStatusTypes", "Index", "TransportationStatusTypes")
        </dt>
        <dd>
            Index of Transportation Status Types
        </dd>
        <dt>
            @Html.ActionLink("CargoTypes", "Index", "CargoTypes")
        </dt>
        <dd>
            Index of Private Cargo Types
        </dd>
        <dt>
            @Html.ActionLink("Customers", "Index", "Customers")
        </dt>
        <dd>
            Index of Customers
        </dd>
        <dt>
            @Html.ActionLink("Company", "Index", "Company")
        </dt>
        <dd>
            Index of Company
        </dd>
        <dt>
            @Html.ActionLink("PrivateCustomers", "Index", "PrivateCustomers")
        </dt>
        <dd>
            Index of Private Customers
        </dd>
    </dl>
</div>

<hr />

<div>
    <h4>Users</h4>
</div>
