@using TransportBrunaWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<hr />
<!--USER RATING-->
<div>
<h2 class="container-fluid">
    <h3>Oceni našo storitev</h3>
    <div class="row">
            <img src="~/Content/img/checklist.png" class="img-responsive" />
        <p>
            Sporočite kako ste zadovoljni z našo storitvijo!
        </p>
        <!--tukaj daj rating-->
    </div>
</div>


<hr />
<div class="container-fluid">
    <div class="row ">
        <!-- footer-about -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
            <div class="footer-widget ">
                <div class="footer-title">Navigacija</div>
                <ul class="list-unstyled">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("O nas", "About", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Storitve", "Services", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Galerija", "Gallery", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "navbar-link" })</li>
                </ul>
            </div>
        </div>
        <!-- /.footer-about -->
        <!-- footer-links
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
            <div class="footer-widget ">
                <div class="footer-title">Quick Links</div>
                <ul class="list-unstyled">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        /.footer-links -->
        <!-- footer-blank -->
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 ">
            @if (Context.User.Identity.IsAuthenticated == false)
            {
                <div class="footer-title">Prijava</div>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-naslov" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Prijava" class="btn btn-default pull-right" />

                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Geslo" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </section>
            }
        </div>
        <!-- /.footer-blank -->
        <!-- footer-company -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
            <p>
                Transport Bruna d.o.o.<br />
                <span class="glyphicon glyphicon-map-marker">&nbsp;</span>Gorenja brezovica 24<br />
                &nbsp;	&nbsp;	&nbsp;	&nbsp;	8310 Šentjernej<br />
                <span class="glyphicon glyphicon-earphone">&nbsp;</span>+386 (0)40 904 904<br />
                <span class="glyphicon glyphicon-envelope">&nbsp;</span>info@transportbruna.si<br />
            </p>
        </div>
        <!-- /.footer-company -->
    </div>
</div>