@using TransportBrunaWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Dobrodošli na spletno stran podjetja Transport Bruna d.o.o.</h3>
    <img src="~/Content/img/kamion.jpg" class="img-responsive" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Storitve</h2>
        <p>
            <li>prevozi gradbenega materiala</li>
            <li>prevozi odpadnega materiala</li>
            <li>prevozi kuriva (drva)</li>
            <li>prevozi vozil in delovnih strojev</li>
            <li>...</li>
        </p>
        <br />
        <p><a class="btn btn-default" href="~/Home/About">Preberi več &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vozni park</h2>
        <p>Naša vozila so majhna in okretna, zato so primerna za opravljanje prevozov na ozkih, težko dostopnih predelih, strminah, ozkih ulicah in mestnih jedrih.</p>
        <br />
        <p><a class="btn btn-default" href="~/Gallery/">Preberi več &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lokacija</h2>
        <p>Najde nas na naslovu:</p>
        <br />
        <p>
            <i class="glyphicon glyphicon-map-marker"></i>
            <b>Gorenja Brezovica 24, 8310 Šentjernej</b>
        </p>
        <br />
        <p><a class="btn btn-default" href="~/Home/Contact">Preberi več &raquo;</a></p>
    </div>
</div>

<hr />
<!--USER RATING-->
<div>
    <h2 class="container-fluid">
        <h3>Oceni našo storitev</h3>
        <div class="row">
            <img src="~/Content/img/checklist.png" class="img-responsive" />
            <p>
                Sporočite kako ste zadovoljni z našo storitvijo!
            </p>
            <!--tukaj daj rating-->
        </div>
</div>
<hr />
<h2>Kje se nahajamo?</h2>
<div class="mapouter">
    <div class="gmap_canvas"><iframe width="800" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=gorenja%20brezovica%2024%2C%20%C5%A1entjernej&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    <style>
        .mapouter {
            text-align: right;
            height: 400px;
            width: 800px;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 400px;
            width: 800px;
        }
    </style>
</div>


<hr />
<div class="container-fluid">
    <div class="row ">
        <!-- footer-about -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
            <div class="footer-widget ">
                <div class="footer-title">Navigacija</div>
                <ul class="list-unstyled">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("O nas", "About", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Storitve", "Services", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Galerija", "Gallery", "Home", null, new { @class = "navbar-link" })</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "navbar-link" })</li>
                </ul>
            </div>
        </div>
        <!-- /.footer-about -->
        <!-- footer-links
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
            <div class="footer-widget ">
                <div class="footer-title">Quick Links</div>
                <ul class="list-unstyled">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        /.footer-links -->
        <!-- footer-blank -->
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 ">
            @if (Context.User.Identity.IsAuthenticated == false)
            {
                <div class="footer-title">Prijava</div>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-naslov" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Prijava" class="btn btn-default pull-right" />

                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Geslo" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </section>
            }
        </div>
        <!-- /.footer-blank -->
        <!-- footer-company -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
            <p>
                Transport Bruna d.o.o.<br />
                <span class="glyphicon glyphicon-map-marker">&nbsp;</span>Gorenja brezovica 24<br />
                &nbsp;	&nbsp;	&nbsp;	&nbsp;	8310 Šentjernej<br />
                <span class="glyphicon glyphicon-earphone">&nbsp;</span>+386 (0)40 904 904<br />
                <span class="glyphicon glyphicon-envelope">&nbsp;</span>info@transportbruna.si<br />
            </p>
        </div>
        <!-- /.footer-company -->
    </div>
</div>